extends index.html

block content
	.wrapper.about
		h2 Hi.
		div(style='font-size:20px;margin-bottom: 40px;') I'm an up-and-coming designer and front end developer. I'm pursuing a degree in graphic design at BYU while working as web designer. I love to listen to music. And talk about it.

		//- p(style="text-align: center") Here's where to find me:
		.contact
			a.email(href="mailto:taylor.hatch.palmer@gmail.com")
				i.fa.fa-envelope.fa-lg
				p taylor.hatch.palmer@gmail.com
			a.twitter(href="https://twitter.com/thpalmer75" target="_blank")
				i.fa.fa-twitter-square.fa-lg
				p @thpalmer75
			a.facebook(href="http://facebook.com/minipalmer" target="_blank")
				i.fa.fa-facebook-square.fa-lg
				p Facebook
			a.linkedin(href="http://www.linkedin.com/pub/taylor-palmer/71/4a1/626" target="_blank")
				i.fa.fa-linkedin-square.fa-lg
				p Linked In

		p I consider myself pretty good at HTML/CSS (This site was coded in JADE and SASS), Photoshop, Illustrator, UX/UI, responsive design, and learning.