doctype html
html
	head
		meta(name="viewport" content="width=device-width")
		title Taylor Palmer Design
		link(rel="stylesheet", type="text/css", href="css/style.css")
		link(href="fonts/opensans/stylesheet.css", rel="stylesheet", type="text/css")
		link(href='fonts/stylesheet.css', rel='stylesheet', type='text/css')
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")
	body
		header
			.sizer
				.name
					a(href="index.html", id="logo")
						h1 Taylor Palmer
				nav
					a.active(href="index.html") Work
					a(href="#") Thoughts
					a(href="about.html") About
		block content
			.container
				.content
					ul.grid
						li.tile
							img(src="img/sg.jpg", class="tile-image", alt="Sacred Gifts")
							a.tile-link(href="sacred-gifts.html") Sacred Gifts
						li.tile
							img(src="img/ls.png", class="tile-image", alt="BYU Learning Suite")
							a.tile-link(href="ls.html") BYU Learning Suite
						li.tile
							img(src="img/lotus.jpg", class="tile-image", alt="Lotus")
							a.tile-link(href="lotus.html") Lotus

							
						