extends index.html

block content
	a.arrow-left(href="sacred-gifts.html")
		i.fa.fa-chevron-left.fa-4x
	.wrapper
		h2 Last.fm App Redesign
		img(src="img/lastfm/lastfm-2.jpg")
		.description
			p
			a.lastfm(href="http://last.fm", target="_blank") Last.fm
			|  is a fantastic music discovery program, but the 
			a.lastfm(href="https://play.google.com/store/apps/details?id=fm.last.android", target="_blank") Android app
			|  is in desperate need of a redesign. My design seeks to update the interface, 
			a.lastfm(href="http://developer.android.com/design/style/index.html", target="_blank") follow the Android style guide
			| , and unite the app experience with the online web experience.
		img(src="img/lastfm/lastfm-1.jpg")
		.description
			p Sample text
		img(src="img/lastfm/lastfm-3.jpg")
		.description
			p Sample text
		block contact
				p.contact-me
					| If you like this project, please consider 
					a.lastfm(href="about.html") contacting
					|  me!