extends index.html

block content
	a.arrow-left(href="ls.html")
			i.fa.fa-chevron-left.fa-4x
	a.arrow-right(href="sacred-gifts.html")
			i.fa.fa-chevron-right.fa-4x
	.wrapper
		h2 Lotus Cars Identity
		img(src="img/lotus/lotus-1.jpg")
		.description
			p A rebranding project for a university graphic design course. I rebranded Lotus Cars to compete with fellow European high-class car companies.
		img(src="img/lotus/lotus-2.jpg")
		.description
			p 
			| After extensive research of British design and past car logos, I explored several different iterations of possible logos. The final design features an L with a subtle shield contour.
		img(src="img/lotus/lotus-3.jpg")
		.description
			p 
			| Typography plays a main role in the new identity. A bold, italic Caslon 
			i L 
			| combines with Gill Sans for a true British design. Avenir body text with old-style numerals provide just the right amount of variance for a subtle, controlled composition.
		block contact
				p.contact-me
					| If you like this project, please consider 
					a.lotus(href="about.html") contacting
					|  me!