extends index.html

block links
	a(href="index.html") Work
	//- a(href="#") Thoughts
	a(href="about.html") About

block content
	a.arrow-right(href="lotus.html")
			i.fa.fa-chevron-right.fa-4x
	.wrapper
		h2 BYU Learning Suite Responsive Design
		img(src="img/ls/learningsuite-1.jpg")
		.description
			p I worked with BYU's development team at 
				a.ls(href="http://ctl.byu.edu") The Center for Teaching and Learning  
				|  to create mobile and responsive designs for their school-wide learning management system, 
				i Learning Suite.
		img(src="img/ls/learningsuite-4.jpg")
		.description
			p Creating responsive layouts out of existing elements can be tricky. We made innovating changes using some 
				a.ls(href="http://cdpn.io/suHbj" target="_blank") clever CSS.
		img(src="img/ls/learningsuite-3.png")
		.description
			p I created mockups and presentations explaining the proposed UI changes. The design is expected to hit production this fall.
		block contact
			p.contact-me
				| If you like this project, please consider 
				a.ls(href="about.html") contacting
				|  me!