extends index.html

block links
	a(href="index.html") Work
	//- a(href="#") Thoughts
	a(href="about.html") About

block content
		a.arrow-right(href="lastfm.html")
			i.fa.fa-chevron-right.fa-4x
		a.arrow-left(href="lotus.html")
			i.fa.fa-chevron-left.fa-4x
		.wrapper
			h2 BYU Museum of Art: Sacred Gifts
			img(src="img/sacredgifts/sg-1.jpg")
			.description
				p 
					| I was hired by the 
					a.sg(href="http://moa.byu.edu" target="_blank") BYU Museum of Art
					|  to create the website 
					a.sg(href="http://sacredgifts.byu.edu" target="_blank") sacredgifts.byu.edu
					| . I worked with a team responsible for the design and creation of the website, print and video materials, and an iPad app.

			img(src="img/sacredgifts/sg-2.jpg")
			.description
				p 
				| The website was created with attention to responsive design, such as: scalable SVG format with 
				a.sg(href="http://modernizr.com" target="_blank") Modernizr
				|, media queries and responsive layout, and browser fallbacks for progressive enhancement.
			block contact
				p.contact-me
					| If you like this project, please consider 
					a.sg(href="about.html") contacting
					|  me!